<h2>Please see the next 7 days Weather Forecast in <%= city %>:</h2>

<% date = Time.at(time) %>
<% date = date.day.to_s + "/" + date.month.to_s + "/" + date.year.to_s %>

<% date1 = Time.at(time2) %>
<% date1 = date1.day.to_s + "/" + date1.month.to_s + "/" + date1.year.to_s %>

<% date2 = Time.at(time3) %>
<% date2 = date2.day.to_s + "/" + date2.month.to_s + "/" + date2.year.to_s %>

<h3><%= date %></h3>
<img src="https://openweathermap.org/img/w/<%= icon %>.png" alt="">
<h3>Description:<%= description %></h3>
<h3>Temp:<%= temp %></h3>
<h3>Humidity:<%= humidity %></h3>
<h3>Wind_speed:<%= wind_speed %></h3>

<h3><%= date1 %></h3>
<img src="https://openweathermap.org/img/w/<%= icon2 %>.png" alt="">
<h3>Description:<%= description2 %></h3>
<h3>Temp:<%= temp2 %></h3>
<h3>Humidity:<%= humidity2 %></h3>
<h3>Wind_speed:<%= wind_speed2 %></h3>

<h3><%= date2 %></h3>
<img src="https://openweathermap.org/img/w/<%= icon3 %>.png" alt="">
<h3>Description:<%= description3 %></h3>
<h3>Temp:<%= temp3 %></h3>
<h3>Humidity:<%= humidity3 %></h3>
<h3>Wind_speed:<%= wind_speed3 %></h3>








