<h2>Please see the next 16 days weather forecast on <%= city %>:</h2>

<h3>Description:<%= description %></h3>
<h3>Temp:<%= temp %></h3>
<h3>Humidity:<%= humidity %></h3>
<h3>Visibility:<%= visibility %></h3>


