<h2>Please see the next 7 days Weather Forecast in <%= city %>:</h2>

<% results.each do |result| %>
<% date = Time.at(result['dt']) %>
<% date = date.day.to_s + "/" + date.month.to_s + "/" + date.year.to_s %>

<img src="https://openweathermap.org/img/w/<%= result['weather'][0]['icon'] %>.png" alt="">
<h3>Date:<%= date %></h3>
<h3>Description:<%= result['weather'][0]['description'] %></h3>
<h3>Temp:<%= result['temp']['day'] %></h3>
<h3>Humidity:<%= result['humidity'] %></h3>
<h3>Wind_speed:<%= result['wind_speed'] %></h3>

<% end %>

  








