<h2>Please see the next 7 days weather forecast on <%= city %>:</h2>

<h3>Day1:</h3>
<h3>Description:<%= description %></h3>
<h3>Temp:<%= temp %></h3>
<h3>Humidity:<%= humidity %></h3>
<h3>Wind_speed:<%= wind_speed %></h3>

<h3>Day2:</h3>
<h3>Description:<%= description2 %></h3>
<h3>Temp:<%= temp2 %></h3>
<h3>Humidity:<%= humidity2 %></h3>
<h3>Wind_speed:<%= wind_speed2 %></h3>

<h3>Day3:</h3>
<h3>Description:<%= description3 %></h3>
<h3>Temp:<%= temp3 %></h3>
<h3>Humidity:<%= humidity3 %></h3>
<h3>Wind_speed:<%= wind_speed3 %></h3>





